.App {
  text-align: center;
  font-weight: bold;
}

.leaflet-container {
  width: 100%;
  height: 720px;
}

.playgroundPreview_1mpV {
  border: 1px solid var(--ifm-color-emphasis-200);
  border-bottom-left-radius: var(--ifm-global-radius);
  border-bottom-right-radius: var(--ifm-global-radius);
  position: relative;
  padding: 1rem;
}

.title_site {
  margin-top: 5px;
  margin-bottom: 5px;
}

.button_gap {
  margin-top: 25px;
}

.dropdown {
  z-index: 1001;
}

.map_lower {
  top: 30px;
}

.title {
  width:500px;
  margin: 0 auto;
  /*background: rgb(255, 255, 255);*/
  text-align: center;
}

.title {
  text-align: center;
  border: solid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.blockcentering {
  text-align: center;
}

.mapsize {
  height: 80%;
  width: 80%;
}

.span {
  margin: 0 10px;
}

.selectreact {
  width: 50px;
}